.select-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    display: flex;
    flex-direction: column;
}
label {
    margin-top: 10px;
    margin-bottom: 10px;
}

.deleteButton {
  appearance: none;
  background-color: #a42e2e;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  margin-top: 10px;
}

.deleteButton:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.deleteButton:hover {
  background-color: #972c2c;
}

.deleteButton:focus {
  box-shadow: rgba(164, 46, 46, 0.4) 0 0 0 3px;
  outline: none;
}

.deleteButton:disabled {
  background-color: #d39494;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.deleteButton:active {
  background-color: #8e2929;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}