.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-bottom: 20px;
}
  
.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
  
.discription {
    font-size: 16px;
    line-height: 1.5;
}

.deleteMainButton {
  margin-right: 20px;
  appearance: none;
  background-color: #a42e2e;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.deleteMainButton:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.deleteMainButton:hover {
  background-color: #972c2c;
}

.deleteMainButton:focus {
  box-shadow: rgba(164, 46, 46, 0.4) 0 0 0 3px;
  outline: none;
}

.deleteMainButton:disabled {
  background-color: #d39494;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.deleteMainButton:active {
  background-color: #8e2929;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.editMainButton {
  margin-right: 20px;
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.editMainButton:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.editMainButton:hover {
  background-color: #2c974b;
}

.editMainButton:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.editMainButton:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.editMainButton:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.readMoreButton {
  margin-right: 20px;
  appearance: none;
  background-color: #2e3ca4;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.readMoreButton:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.readMoreButton:hover {
  background-color: #2c3597;
}

.readMoreButton:focus {
  box-shadow: rgba(46, 48, 164, 0.4) 0 0 0 3px;
  outline: none;
}

.readMoreButton:disabled {
  background-color: #9f94d3;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.readMoreButton:active {
  background-color: #37298e;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}